#sobre {
    margin-top: 5rem;
}

#sobre h1 {
    text-align: center;
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 5rem;
    color: var(--cor-texto);
    font-family: 'ClashDisplay', sans-serif;
}

.sobreMim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.sobreMim p {
    font-size: 1.4rem;
    margin-left: 2.3rem;
    max-width: 780px;
    text-align: justify;
    color: var(--cor-texto);
}

#imgSobre {
    width: 48%;
}