#logoImg {
    width: 60px;
    height: 60px;
}

.navbar {
    position: absolute; /* ou fixed, se quiser que ela role com a página */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    backdrop-filter: blur(10px);
    background-color: #ffffff09;
}

.navLinks {
    display: flex;
    gap: 30px;
}

.navLinks a {
    color: #D9D5E3;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}